html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.Home_container__sDexO{
  flex-direction: revert !important;
  justify-content: normal !important;
  align-items: normal !important;
  display: block !important;
}
.MuiGrid-item{
  width: 520px!important;
}
.box{
  height: 140px !important;
  border: 1px solid black ;
  background: rgba(213, 116, 133, 0.77) !important;
  border: 1px solid rgba(0, 0, 0, 0.57) !important;
  box-sizing: border-box !important;
}


.font-name{
  font-size: 48px !important;
  margin-left: 181px;
  margin-top: 35px;
  color: white;

}
.avatar-user{
  float: left;
  width: 120px;
  height: 101px;
  border-radius:150px;
  margin-left: 41px;
  margin-top: 19px;
}






